<section class="max-w-6xl mx-auto px-6 py-20">

  <div class="flex justify-between items-center mb-10">
    <h2 class="text-2xl md:text-3xl font-[Josefin Sans] uppercase tracking-wide">
      OUR CREATIONS
    </h2>
    <button class="border px-6 py-2 font-[Alata] text-sm uppercase tracking-widest hover:bg-black hover:text-white transition">
      SEE ALL
    </button>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-6">

    <div class="relative group overflow-hidden">
      <img src="/loopstudios-landing-page-main/image-deep-earth.jpg" class="w-full group-hover:scale-110 transition duration-300">
      <div class="absolute inset-0 bg-black/30 group-hover:bg-black/60 transition"></div>
      <p class="absolute bottom-4 left-4 text-white text-lg md:text-xl font-[Josefin Sans] uppercase tracking-widest">
        DEEP <br>EARTH
      </p>
    </div>

    <div class="relative group overflow-hidden">
      <img src="/loopstudios-landing-page-main/image-night-arcade.jpg" class="w-full group-hover:scale-110 transition duration-300">
      <div class="public/loopstudios-landing-page-main/image-night-arcade.jpg"></div>
      <p class="absolute bottom-4 left-4 text-white text-lg md:text-xl font-[Josefin Sans] uppercase tracking-widest">
        NIGHT <br>ARCADE
      </p>
    </div>

    <div class="relative group overflow-hidden">
      <img src="/loopstudios-landing-page-main/image-soccer-team.jpg" class="w-full group-hover:scale-110 transition duration-300">
      <div class="absolute inset-0 bg-black/30 group-hover:bg-black/60 transition"></div>
      <p class="absolute bottom-4 left-4 text-white text-lg md:text-xl font-[Josefin Sans] uppercase tracking-widest">
        SOCCER <br>TEAM VR
      </p>
    </div>

    <div class="relative group overflow-hidden">
      <img src="/loopstudios-landing-page-main/image-grid.jpg" class="w-full group-hover:scale-110 transition duration-300">
      <div class="absolute inset-0 bg-black/30 group-hover:bg-black/60 transition"></div>
      <p class="absolute bottom-4 left-4 text-white text-lg md:text-xl font-[Josefin Sans] uppercase tracking-widest">
        THE <br>GRID
      </p>
    </div>

    <div class="relative group overflow-hidden">
      <img src="/loopstudios-landing-page-main/image-from-above.jpg" class="w-full group-hover:scale-110 transition duration-300">
      <div class="absolute inset-0 bg-black/30 group-hover:bg-black/60 transition"></div>
      <p class="absolute bottom-4 left-4 text-white text-lg md:text-xl font-[Josefin Sans] uppercase tracking-widest">
        FROM UP <br>ABOVE
      </p>
    </div>

    <div class="relative group overflow-hidden">
      <img src="/loopstudios-landing-page-main/image-pocket-borealis.jpg" class="w-full group-hover:scale-110 transition duration-300">
      <div class="absolute inset-0 bg-black/30 group-hover:bg-black/60 transition"></div>
      <p class="absolute bottom-4 left-4 text-white text-lg md:text-xl font-[Josefin Sans] uppercase tracking-widest">
        POCKET <br>BOREALIS
      </p>
    </div>

    <div class="relative group overflow-hidden">
      <img src="/loopstudios-landing-page-main/image-curiosity.jpg" class="w-full group-hover:scale-110 transition duration-300">
      <div class="absolute inset-0 bg-black/30 group-hover:bg-black/60 transition"></div>
      <p class="absolute bottom-4 left-4 text-white text-lg md:text-xl font-[Josefin Sans] uppercase tracking-widest">
        THE <br>CURIOSITY
      </p>
    </div>

    <div class="relative group overflow-hidden">
      <img src="/loopstudios-landing-page-main/image-fisheye.jpg" class="w-full group-hover:scale-110 transition duration-300">
      <div class="absolute inset-0 bg-black/30 group-hover:bg-black/60 transition"></div>
      <p class="absolute bottom-4 left-4 text-white text-lg md:text-xl font-[Josefin Sans] uppercase tracking-widest">
        MAKE IT <br>FISHEYE
      </p>
    </div>

  

</section>