<section 
  class="h-[65vh] md:h-[75vh] bg-cover bg-center flex items-center relative"
style="background-image: url('/loopstudios-landing-page-main/image-hero.jpg');">
  <div class="absolute inset-0 bg-black/40"></div>

  <div class="relative border border-white p-6 md:p-10 ml-6 md:ml-20 max-w-md md:max-w-xl">
    <h2 class="text-white text-2xl md:text-5xl uppercase leading-tight">
      Immersive experiences <br>
      that deliver
    </h2>
  </div>

</section>
